#marco{

    border: 4px solid gold;
    width: 600px;
    height: 400px;
    margin:0 auto;
    text-align: center;
    font-size: 400px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;


}
#cuadroTextoDos{

    position:relative;
    border:1px solid blue;
    left: 850px;
}
#cuadroTextoUno{

    position: relative;
    left: 150px;
    border: 1px solid pink;
}